.DS_Store
unversioned/

node_modules/
package-lock.json
*.tsbuildinfo
.tsbuild/
# test outputs
coverage/
.jest/
# remove js
options/*.js
options/**/*.js
content/*.js
content/**/*.js
dist/

test-data/*

